
* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

#menu {
 
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
  
  
}

#menu.hidden {
  opacity: 0;
  pointer-events: none; /* Prevent clicking when hidden */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
}

header img {
  width: 40%;
  height: auto;
  border-radius: 600px;
}

body {
  margin: 0;
  background-color: #08152E;
  color: white;
  
}

.main {  
  
  position: static;
  background-color: #474973;
  padding: 20px;
  border-radius: 20px;
  
  
}
.row {  
  margin: 100px auto;
  max-width: 50%;
  left: 20%;
  text-align: center;
  flex-wrap: wrap;
  
}


.switch {
  position: sticky;
  display: inline-block;
  width: 60px;
  top: 13px;
  height: 34px;
  
}
.dark-mode-toggle {
  padding: 14px 20px;
  position: fixed;
  display: flex;
  left: 70%;
  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #08152E;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark-blue-background {
  background-color: #ffffff; /* White text on dark blue */
  color: white; /* Dark  color */

  .main {
    background-color: #08152E;
  }
  .footer {
    background-color: #08152E;
  }
  #login {
    background-color: #08152E;
    color: white;
  }
  #menu {
    color: #08152E;
  }
}




.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  white-space: nowrap; 
  text-overflow: clip;
}
.sidenav.open {
  
  width: 250px; /* Set the width when the navigation is open */
}
  
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
  
.sidenav a img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
  
.sidenav a:hover {
  color: #f1f1f1;
}

.topnav {
  overflow: hidden;
  
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav .search-container {
  float: none;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  
  
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  min-width: 500px;
  
  
}

.topnav input[type=text] {
  border: 1px solid #ccc; 
  border-radius: 15px; 
  border: 2px solid #08152E;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}

/* Set a style for all buttons */
button {
  background-color: #474973;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}
/*Set style of opening login button */
#login {
  
  position: fixed;
  width: 10%;
  height: 40px;
  left: 1500px;
  top: 3px;
  color: white;
 
}
a:-webkit-any-link {
  
  color: white;         
  cursor: pointer;                 
  text-decoration: none;
}
button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f36359;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #08152E;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid white;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 20px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.footer {
  padding: 20px;
  text-align: center;
  background: #474973;
}

@media screen and (max-width: 600px) {
  #menu {
    position: sticky;
    display: flex;
  }
  .switch {
    position: sticky;
    display: flex;
  }
  .sidenav {
    position: sticky;
    display: flex;
  }
  #login {
    width: 100%;
    display: flex;
    
  }
  .topnav .search-container {
    position: relative;
    transform: translate(0%);
    left: 0%;
  }
  .sidenav a {font-size: 18px;}
}

  
  
  